.App {
  height: 100vh;
}

header {
  border-bottom: 1px solid #efefef;
  height: 50px;
  width: 100%;

  div {
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
    justify-content: space-between;
  }
}

main {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    height: calc(100vh - 50px);
}

section {
    background-color: #f0f0f0;
    justify-content: flex-start;
    padding: 16px;
    overflow-y: auto;
}
