.ColorSetItem {
  align-items: center;
  border-bottom: 1px solid #e4e5e6;
  color: #4C535B;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 45px;

  .label {
    margin-left: 8px;
  }

  &.selected {
    color: #64518A;
    font-weight: bold;
  }
}
