.ColorSetItem {
  align-items: center;
  border-bottom: 1px solid #e4e5e6;
  color: #4C535B;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 45px;

  .label {
    margin-left: 8px;
  }

  &.selected {
    background-color: #64518A;
    color: white;

    &:hover {
      background-color: #64518A;
      color: white;
    }
  }

  &:hover {
    background: #F3F2FF;
    color: #6C43E0;
//     color: #64518A;
  }
}
